<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar-nav mx-auto text-md-center text-left">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}" class="navbar-brand">DJANGO</a></li>
                <li><a href="{% url 'admin:index' %}" class="navbar-link">ADMIN</a></li>
                <li><a href="{% url 'basic_app:register' %}" class="navbar-link">REGISTER</a></li>

                {% if user.is_authenticated %}

                    <li><a href="{% url 'logout' %}" class="navbar-link">Logout</a></li>
                    <li><a href="{% url 'special' %}" class="navbar-link">A Special Message Just for You!</a></li>

                {% else %}

                    <li><a href="{% url 'basic_app:user_login' %}" class="navbar-link">Login</a></li>

                {% endif %}

            </ul>


        </div>
        <div>
        {% if user.is_authenticated %}
            <ul class="nav navbar-nav">Welcome, {{ user }}!</ul>
        {% endif %}
        </div>
    </nav>

    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>